alabaster==0.7.12
black==19.3b0
Click==7.0
coverage==4.5.3
flake8==3.7.7
ipython==7.4.0
jedi==0.13.3
jupyter==1.0.0
jupyterlab==0.35.4
kaggle==1.5.3
Keras==2.2.4
mccabe==0.6.1
mypy==0.670
networkx==2.2
nltk==3.4
numpy==1.16.2
pandas==0.24.2
pep8-naming==0.8.2
pycodestyle==2.5.0
pydocstyle==3.0.0
pydot-ng==2.0.0
pyflakes==2.1.1
Pygments==2.3.1
pylint==2.3.1
pytest==4.3.1
pytest-cov==2.6.1
pytz==2018.9
pyyaml>=4.2b1
requests==2.21.0
scikit-learn==0.20.3
scipy==1.2.1
snowballstemmer==1.2.1
spacy==2.1.0
Sphinx==1.8.5
sphinxcontrib-websupport==1.1.0
statsmodels==0.9.0
steppy==0.1.16
sympy==1.3
tensorboard==1.13.1
tensorflow==1.13.1
textacy==0.6.2
toml==0.10.0
torch==1.0.1.post2
torchvision==0.2.2.post3
tornado==6.0.1
tqdm==4.31.1
urllib3==1.24.1
watermark==1.8.1
Werkzeug==0.14.1
azure-storage-blob==1.5.0
imapclient==2.1.0
