alabaster==0.7.12
azure-storage-blob==2.1.0
black==19.3b0
coverage==4.5.4
flake8==3.7.8
imapclient==2.1.0
ipython==7.7.0
isort==4.3.21
jupyter==1.0.0
jupyterlab==1.2.21
kaggle==1.5.5
mypy==0.720
pycodestyle==2.5.0
pydocstyle==4.0.0
pylint==2.3.1
pytest==5.0.1
pytest-cov==2.7.1
pyyaml>=4.2b1
Sphinx==2.1.2
watermark==1.8.2
tensorflow==2.5.0rc0

pandas
numpy
nltk
sklearn

## client/updatechecker
schedule==0.6.0

## rerun test if it fails
pytest-rerunfailures==7.0

## log output in json
python-json-logger==0.1.11